<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <configSections>
        <section name="identityProvidersToCall" type="Bouncer.Configuration.IdentityProvidersToCallSection" />
        <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>
    
    <appSettings>
        <add key="SecretCertificateThumbprint" value="**SECRETCERTIFICATETHUMBPRINT**"/>
        <add key="SharedSecretKey" value="**SHAREDSECRETKEY**"/>
        <add key="SharedSecretIV" value="**SHAREDSECRETIV**"/>
    </appSettings>

    <system.web>
        <authentication mode="None" />
        <authorization>
            <deny users="?" />
        </authorization>

        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off"/>

        <httpRuntime requestValidationMode="2.0"/>
    </system.web>

    <system.webServer>
        <modules>
            <add name="BouncerModule40" type="Bouncer.WebApp40.BouncerModule40"/>
            <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </modules>
    </system.webServer>

    <identityProvidersToCall>
        <identityProviders>
            <add serviceName="IDP0" callSequenceNumber="0" />
            <add serviceName="IDP1" callSequenceNumber="1" />
        </identityProviders>
    </identityProvidersToCall>

    <microsoft.identityModel>
        <service name="IDP0">
            <audienceUris>
                <add value="**RELYINGPARTYURI**" />
            </audienceUris>
            <certificateValidation certificateValidationMode="None" />
            <federatedAuthentication>
                <wsFederation passiveRedirectEnabled="true" issuer="**IDENTITYPROVIDERENDPOINT**" realm="**RELYINGPARTYURI**" requireHttps="true" />
                <cookieHandler requireSsl="true" />
            </federatedAuthentication>
            <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
                <trustedIssuers>
                    <add thumbprint="**IDPPUBLICKEYCERTIFICATETHUMBPRINT**" name="**IDENTITYPROVIDERFRIENDLYNAME**" />
                </trustedIssuers>
            </issuerNameRegistry>
        </service>
        <service name="IDP1">
            <audienceUris>
                <add value="**RELYINGPARTYURI**" />
            </audienceUris>
            <certificateValidation certificateValidationMode="None" />
            <federatedAuthentication>
                <wsFederation passiveRedirectEnabled="true" issuer="**IDENTITYPROVIDERENDPOINT**" realm="**RELYINGPARTYURI**" requireHttps="true" />
                <cookieHandler requireSsl="true" />
            </federatedAuthentication>
            <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
                <trustedIssuers>
                    <add thumbprint="**IDPPUBLICKEYCERTIFICATETHUMBPRINT**" name="**IDENTITYPROVIDERFRIENDLYNAME**" />
                </trustedIssuers>
            </issuerNameRegistry>
        </service>
        <service>
            <audienceUris>
                <add value="**RELYINGPARTYURI**" />
            </audienceUris>
            <certificateValidation certificateValidationMode="None" />
            <federatedAuthentication>
                <wsFederation passiveRedirectEnabled="true" issuer="**IDENTITYPROVIDERENDPOINT**" realm="**RELYINGPARTYURI**" requireHttps="true" />
                <cookieHandler requireSsl="true" />
            </federatedAuthentication>
            <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
                <trustedIssuers>
                    <add thumbprint="**IDPPUBLICKEYCERTIFICATETHUMBPRINT**" name="**IDENTITYPROVIDERFRIENDLYNAME**" />
                </trustedIssuers>
            </issuerNameRegistry>
        </service>
    </microsoft.identityModel>

</configuration>
